<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TODO一覧</title>
</head>
<body>
	<h2>あなたのToDoリスト</h2>
	<a th:href="@{/todos/new}">新規ToDoを追加</a>
	<table border="1">
	    <tr>
	        <th>タイトル</th>
	        <th>期限</th>
	        <th>完了</th>
			<th>操作</th>
	    </tr>
	    <tr th:each="todo : ${todos}">
	        <td th:text="${todo.title}">タイトル</td>
	        <td th:text="${todo.dueDate}">期限</td>
	        <td th:text="${todo.completed ? '✔' : '✖'}">完了</td>
			<td>
				<a th:href="@{'/todos/edit/' + ${todo.id}}">編集</a>
			</td>
	    </tr>
	</table>

	<form th:action="@{/logout}" method="post">
	  <button type="submit">ログアウト</button>
	</form>
</body>
</html>